@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem;

    /* Light Theme Colors */
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);

    --primary: oklch(0.21 0.006 285.885);
    --primary-foreground: oklch(0.985 0 0);

    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: var(--primary);

    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);

    --accent: var(--muted);
    --accent-foreground: var(--primary);

    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: var(--primary-foreground);

    --border: oklch(0.92 0.004 286.32);
    --input: var(--border);
    --ring: oklch(0.705 0.015 286.067);
  }

  .dark {
    /* Dark Theme Colors */
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);

    --primary: oklch(0.92 0.004 286.32);
    --primary-foreground: oklch(0.21 0.006 285.885);

    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: var(--foreground);

    --muted: var(--secondary);
    --muted-foreground: oklch(0.705 0.015 286.067);

    --accent: var(--secondary);
    --accent-foreground: var(--foreground);

    --destructive: oklch(0.704 0.191 22.216);
    --destructive-foreground: var(--foreground);

    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.552 0.016 285.938);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
